@page "/testdashboard"
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime
@inject HttpClient client
@inject State State
@*TODO: ADD MAX AND MIN WIDTHS TO MAIN DIV*@

<style>
    @@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

    * {
        font-family: 'Montserrat', sans-serif;
    }

    .wrapper {
        height: 100vh;
        width: 100%;
        overflow: hidden;
        position: absolute;
    }

    .nav {
        height: 8vh;
        background-color: #6c85a3;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.8rem;
        /*replace*/
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    }

    .main-body {
        height: 86vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @* background-color: pink; *@
    }

    /*FOOTER*/
    .footer-container {
        width: 100%;
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: #6c85a3;
        color: #fff;
    }

        .footer-container span {
            font-size: 13px;
            font-weight: bold;
            margin-right: 2rem;
        }

    .dashboard-nav {
        height: 100%;
        max-height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #6c85a3;
        overflow-x: hidden;
        transition: 0.5s;
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    }

        .dashboard-nav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 15px;
            color: #fff;
            display: block;
            transition: 0.3s;
        }

    .dashboard-nav a:hover {
        color: #333;
    }

    @@media screen and (max-height: 450px) {
        .dashboard-nav {padding-top: 15px;}

        .dashboard-nav a {font-size: 18px;}
    }

    /*dashboard component*/

    .dash-container {
        background-color: white;
        height: 90%;
        width: 90%;
        margin: auto;
        overflow-y: auto;
        @* border: 0.5px solid #ced4da; *@
    }

    .header {
        height: 15%;
        width: 100%;
        padding: 1.2rem 0 0 0;
        background-color: #b4c0d0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

        .header h5 {
            font-weight: bold;
        }

        .header p {
            font-size: 14px;
            font-style: italic;
        }

    .main {
        width: 100%;
        height: 84%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #6c85a3;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .report {
        width: 90%;
        height: 95%;
        margin-left: 5%;
    }

    @* .report-heading {
        width: 100%;
        text-align: center;
        color: #e8eae7;
        font-size: 15px;
        font-weight: 700;
        text-shadow: 1px 0 #888888;
    } *@

    .report-container {
        width: 100%;
        height: 100%;
    }

    iframe {
        border-radius: 5px;
        height: 100%;
        width: 100%;
    }
    .enlarge-iframe-div{
        height:50px;
        width: 5%;
        text-align: center;
        margin-top: 20px;
    }
    .big {
        height: 100vh;
        width: 100%;
        background-color: rgb(0,0,0,0.7);
        position: absolute;
        z-index: 1;
        margin-top: 0;
        display: flex;
    }
    .big-main{
        height: 85%;
        margin-bottom: 5%;
        margin-top: 5%;
        width: 90%;
        margin-left: 5%;
    }
    .compress-iframe-div {
        height: 5%;
        margin-top: 350px;
        width: 5%;
        text-align: center;
    }

  /******New Nav styling Start*/

  .page{
      margin:0;
  }

    /* This will hide the radio button*/
    .in {
        display: none;
        cursor: cell;
    }

    .item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        cursor: pointer;
        user-select: none;
        /*Don't touch*/
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    }

        .item:hover {
            /*Swap*/
            box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        }

    input:checked ~ .item {
        transition: 0.4s;
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    }

    input:checked ~ .inner {
        transition: 0.5s;
        border: 1px solid green;
    }

    .item div:first-child {
        width: 100%;
        line-height: 45px;
        margin-left: 10px;
        font-size: 20px;
    }

    .cross {
        margin-right: 15px;
        margin-top: 3px;
    }

        .cross:before,
        .cross:after {
            content: '';
            border-top: 2px solid #3E474F;
            width: 15px;
            display: block;
            margin-top: 18px;
            transition: 0.3s;
        }

        .cross:after {
            transform: rotate(90deg);
            margin-top: -2px;
        }

    .content {
        box-sizing: border-box;
        font-size: 0.9em;
        margin: 0px 5px 10px 20px;
        max-height: 0;
        overflow: hidden;
        transition: max-height, .5s;

    }

    input:checked ~ .content {
        max-height: 400px;
        transition: max-height, 1s;
    }

    input:checked ~ .item .cross:before {
        transform: rotate(180deg);
    }

    input:checked ~ .item .cross:after {
        transform: rotate(0deg);
    }

    /* This shows the different pages within the page you are viewing
    *E.G. dashboard page has multiple reports wrapped in (nav-items) */
    input:checked ~ .nav-items {
        max-height: 400px;
        border-bottom: 2px solid #3E474F;
        transition: 1s;
    }

    .nav-items {
        margin: 0px 10px 0px 10px;
        max-height: 0;
        overflow: hidden;
        transition: max-height, .5s;
    }
    /**Indent Dropdown Items*/
    .nav-item-wrap {
        margin-left: 10px;
    }

    /***/
    .nav-items .item {
        border: none;
        box-shadow: none;
    }



    nav{
        display: flex;
        flex-direction: column;

        height: 80.8%;
        justify-content: center;
        color:white;

        overflow:hidden;
        overflow-y: scroll;
    }

    .home{
        justify-self: flex-start;
    }

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2px;
    }

    .tab {
        margin: 10px;
    }
  /******New Nav styling Start*/
</style>

<div class="wrapper">
    <!--NavBar start-->
    <div id="testNav" class="dashboard-nav">
        <a href="javascript:void(0)" class="closebtn" style="font-size: 4vh;" @onclick="CloseMenu">&times;</a>
        <header>
            <a href="#" class="dashboard-nav-item home">
                <i class="fas fa-home"></i><span class="tab"></span><span>Home</span>
            </a>
            @if (string.IsNullOrEmpty(State.UserEmail))
            {
                <a href="/loginbeta"><i class="fas fa-user-slash"></i><span>Not logged</span> </a>
            }
            else
            {
                <a href="/profile">@State.UserEmail</a>
            }
        </header>

        <nav class="dashboard-nav-list">

            <div class="page">
                <input class="in" type="radio" id="job-board" name="tabs">
                <label class="item" for="job-board">
                    <a><i class="fas fa-briefcase"></i><span class="tab"></span> Job Board </a>
                    <div class="cross"></div>
                </label>
                <div class="content">Job stuff </div>
            </div>


            <div class="page">
                <input class="in" type="radio" id="analytical-dashboard" name="tabs">
                <label class="item" for="analytical-dashboard">
                    <a><i class="fas fa-chart-bar"></i><span class="tab"></span>  Analytical Dashboard</a>
                    <div class="cross"></div>
                </label>
                <div class="nav-items">
                    <div class="nav-item-wrap">
                        <input class="in" type="radio" id="report-1" name="nav-item">
                        <label class="item" for="report-1" href="javascript:void(0)" @onclick="@us1Action">
                            <a class="dashboard-nav-dropdown-item">Department Analysis</a>
                            <div class="cross"></div>
                        </label>
                        <div class="content">
                            You are viewing the report
                        </div>
                    </div>

                    <div class="nav-item-wrap">
                        <input class="in" type="radio" id="report-2" name="nav-item">
                        <label class="item" for="report-2" href="javascript:void(0)" @onclick="@us2Action">
                            <a class="dashboard-nav-dropdown-item">Rate of Registration</a>
                            <div class="cross"></div>
                        </label>
                        <div class="content">
                            You are viewing the report
                        </div>
                    </div>

                    <div class="nav-item-wrap">
                        <input class="in" type="radio" id="report-3" name="nav-item">
                        <label class="item" for="report-3" href="javascript:void(0)" @onclick="@us3Action">
                            <a class="dashboard-nav-dropdown-item">Site Traffic</a>
                            <div class="cross"></div>
                        </label>
                        <div class="content">
                            You are viewing the report
                        </div>
                    </div>

                    <div class="nav-item-wrap">
                        <input class="in" type="radio" id="report-4" name="nav-item">
                        <label class="item" for="report-4" href="javascript:void(0)" @onclick="@us4Action">
                            <a class="dashboard-nav-dropdown-item">Time to Fill</a>
                            <div class="cross"></div>
                        </label>
                        <div class="content">
                            You are viewing the report
                        </div>
                    </div>

                    <div class="nav-item-wrap">
                        <input class="in" type="radio" id="report-5" name="nav-item">
                        <label class="item" for="report-5" href="javascript:void(0)" @onclick="@us5Action">
                            <a class="dashboard-nav-dropdown-item">Time to Hire</a>
                            <div class="cross"></div>
                        </label>
                        <div class="content">
                            You are viewing the report
                        </div>
                    </div>

                </div>
            </div>

            <div class="page">
                <input class="in" type="radio" id="gamified" name="tabs">
                <label class="item" for="gamified">
                    <a><i class="fas fa-gamepad"></i><span class="tab"></span>Gamified Experience</a>
                    <div class="cross"></div>
                </label>
                <div class="content">Job stuff </div>
            </div>

            <div class="nav-item-divider"></div>

        </nav>

        <footer>
            <a href="#" class="dashboard-nav-item" style="position: relative; bottom: 0;"><i class="fas fa-sign-out-alt"></i> Logout </a>
        </footer>

    </div>
    <!--NavBar end-->
    <div class="nav">

        <div class="nav-title">
            <h5 style="color:#fff;">Xebec Platform</h5>
        </div>

        <div class="nav-icons">

            <span style="font-size:30px;cursor:pointer; color:#fff" @onclick="ShowMenu">&#9776;</span>
        </div>
    </div>

    <div class="main-body">

        <div class="dash-container">

            <div class="header">
                <h5>Xebec Analytics Dashboard</h5>
                <p>@topic</p>
            </div>

            <div class="main">

                <div class="report">
                    <div hidden="@us1" class="report-container">
                        <iframe src="https://app.powerbi.com/reportEmbed?reportId=a25170fc-316e-4619-b18e-b5433bd70ef8&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                    <div hidden="@us2" class="report-container">
                        <iframe src="https://app.powerbi.com/reportEmbed?reportId=c4c17db7-63b9-4fcb-adb1-de650005a7b8&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                    <div hidden="@us3" class="report-container">
                        <iframe src="https://app.powerbi.com/reportEmbed?reportId=79d75a8a-b476-4e93-8354-12ebf8d76d8b&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                    <div hidden="@us4" class="report-container">
                        <iframe src="https://app.powerbi.com/reportEmbed?reportId=df92bb9b-beaf-44ac-8808-f8802b436252&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                    <div hidden="@us5" class="report-container">
                        <iframe src="https://app.powerbi.com/reportEmbed?reportId=cd4808b0-193d-4eb3-a3ff-55b057769cd7&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>"
                    </div>
                </div>
                <div class="enlarge-iframe-div">
                    <i class="fas fa-expand-arrows-alt" style="color: ivory; font-size:20px;" @onclick="Enlarge"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-container">

        <span>Nebula 2021 &reg;</span>
    </div>
</div>

<div class="big" hidden="@bigHidden">
    <div class="big-main">
        <div class="report-container" hidden="@bigus1">
            <iframe src="https://app.powerbi.com/reportEmbed?reportId=a25170fc-316e-4619-b18e-b5433bd70ef8&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div class="report-container" hidden="@bigus2">
            <iframe src="https://app.powerbi.com/reportEmbed?reportId=c4c17db7-63b9-4fcb-adb1-de650005a7b8&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div class="report-container" hidden="@bigus3">
            <iframe src="https://app.powerbi.com/reportEmbed?reportId=79d75a8a-b476-4e93-8354-12ebf8d76d8b&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div class="report-container" hidden="@bigus4">
            <iframe src="https://app.powerbi.com/reportEmbed?reportId=df92bb9b-beaf-44ac-8808-f8802b436252&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div class="report-container" hidden="@bigus5">
            <iframe src="https://app.powerbi.com/reportEmbed?reportId=cd4808b0-193d-4eb3-a3ff-55b057769cd7&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>"
        </div>
    </div>
    <div class="compress-iframe-div">
        <i class="fas fa-compress-arrows-alt" style="color: ivory; font-size:20px;" @onclick="Shrink"></i>
    </div>
</div>

@code {

    string topic = "Analytics Department";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        us1Action();
    }

    protected override async void OnAfterRender(bool firstRender)
    {

        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("initalizeSlideOutNav");
        }

    }

    private async Task ShowMenu()
    {
        await jsRuntime.InvokeVoidAsync("openNav");
    }

    private async Task CloseMenu()
    {
        await jsRuntime.InvokeVoidAsync("closeNav");
    }

    private bool us1 { get; set; } = true;
    private bool us2 { get; set; } = true;
    private bool us3 { get; set; } = true;
    private bool us4 { get; set; } = true;
    private bool us5 { get; set; } = true;

    private void us1Action()
    {
        topic = "Analytics Department";
        us2 = true;
        us3 = true;
        us4 = true;
        us5 = true;
        if (us1)
        {
            us1 = !us1;
        }
    }

    private void us2Action()
    {
        topic = "Rate of Registration";
        us1 = true;
        us3 = true;
        us4 = true;
        us5 = true;
        if (us2)
        {
            us2 = !us2;
        }
    }

    private void us3Action()
    {
        topic = "Site Traffic";
        us1 = true;
        us2 = true;
        us4 = true;
        us5 = true;
        if (us3)
        {
            us3 = !us3;
        }
    }

    private void us4Action()
    {
        topic = "Time to Fill";
        us1 = true;
        us3 = true;
        us2 = true;
        us5 = true;
        if (us4)
        {
            us4 = !us4;
        }
    }

    private void us5Action()
    {
        topic = "Time to Hire";
        us1 = true;
        us3 = true;
        us4 = true;
        us2 = true;
        if (us5)
        {
            us5 = !us5;
        }
    }
    private bool bigHidden { get; set; } = true;
    private bool bigus1 { get; set; } = true;
    private bool bigus2 { get; set; } = true;
    private bool bigus3 { get; set; } = true;
    private bool bigus4 { get; set; } = true;
    private bool bigus5 { get; set; } = true;

    private void Enlarge()
    {
        bigHidden = false;

        if (us1 == false)
        {
            bigus1 = false;
        }
        else if (us2 == false)
        {
            bigus2 = false;
        }
        else if (us3 == false)
        {
            bigus3 = false;

        }
        else if (us4 == false)
        {
            bigus4 = false;
        }
        else if (us5 == false)
        {
            bigus5 = false;
        }
    }

    private void Shrink()
    {
        bigHidden = true;

        if (us1 == false)
        {
            bigus1 = true;
        }
        else if (us2 == false)
        {
            bigus2 = true;
        }
        else if (us3 == false)
        {
            bigus3 = true;

        }
        else if (us4 == false)
        {
            bigus4 = true;
        }
        else if (us5 == false)
        {
            bigus5 = true;
        }
    }

}