@page "/testdashboard"
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime
@inject HttpClient client
@inject State State
@*TODO: ADD MAX AND MIN WIDTHS TO MAIN DIV*@

<style>
    @@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

    * {
        font-family: 'Montserrat', sans-serif;
    }

    .wrapper {
        height: 100vh;
        width: 100%;
        overflow: hidden;
        position: absolute;
    }

    .nav {
        height: 8vh;
        background-color: #6c85a3;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.8rem;
        /*replace*/
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    }

    .main-body {
        height: 86vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @* background-color: pink; *@
    }

    /*FOOTER*/
    .footer-container {
        width: 100%;
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: #6c85a3;
        color: #fff;
    }

        .footer-container span {
            font-size: 13px;
            font-weight: bold;
            margin-right: 2rem;
        }

    .dashboard-nav {
        height: 100%;
        max-height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #6c85a3;
        overflow-x: hidden;
        transition: 0.5s;
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    }

        .dashboard-nav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 15px;
            color: #fff;
            display: block;
            transition: 0.3s;
        }

    .dashboard-nav a:hover {
        color: #333;
    }

    @@media screen and (max-height: 450px) {
        .dashboard-nav {padding-top: 15px;}

        .dashboard-nav a {font-size: 18px;}
    }

    /*dashboard component*/

    .dash-container {
        background-color: white;
        height: 90%;
        width: 90%;
        margin: auto;
        overflow-y: auto;
        @* border: 0.5px solid #ced4da; *@
    }

    .header {
        height: 15%;
        width: 100%;
        padding: 1.2rem 0 0 0;
        background-color: #b4c0d0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

        .header h5 {
            font-weight: bold;
        }

        .header p {
            font-size: 14px;
            font-style: italic;
        }

    .main {
        width: 100%;
        height: 84%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #6c85a3;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .report {
        width: 90%;
        height: 95%;
        margin-left: 5%;
    }

    @* .report-heading {
        width: 100%;
        text-align: center;
        color: #e8eae7;
        font-size: 15px;
        font-weight: 700;
        text-shadow: 1px 0 #888888;
    } *@

    .report-container {
        width: 100%;
        height: 100%;
    }

    iframe {
        border-radius: 5px;
        height: 100%;
        width: 100%;
    }
    .enlarge-iframe-div{
        height:50px;
        width: 5%;
        text-align: center;
        margin-top: 20px;
    }
    .big {
        height: 100vh;
        width: 100%;
        background-color: rgb(0,0,0,0.7);
        position: absolute;
        z-index: 1;
        margin-top: 0;
        display: flex;
    }
    .big-main{
        height: 85%;
        margin-bottom: 5%;
        margin-top: 5%;
        width: 90%;
        margin-left: 5%;
    }
    .compress-iframe-div {
        height: 5%;
        margin-top: 350px;
        width: 5%;
        text-align: center;
    }

  /******New Nav styling Start*/

  .page{
      margin:0;
  }

    /* This will hide the radio button*/
    .in {
        display: none;
        cursor: cell;
    }

    .item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        cursor: pointer;
        user-select: none;
        /*Don't touch*/
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    }

        .item:hover {
            /*Swap*/
            box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        }

    input:checked ~ .item {
        transition: 0.4s;
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    }

    input:checked ~ .inner {
        transition: 0.5s;
        border: 1px solid green;
    }

    .item div:first-child {
        width: 100%;
        line-height: 45px;
        margin-left: 10px;
        font-size: 20px;
    }

    .cross {
        margin-right: 15px;
        margin-top: 0px;
    }

        .cross:before,
        .cross:after {
            content: '';
            border-top: 2px solid #3E474F;
            width: 15px;
            display: block;
            margin-top: 18px;
            transition: 0.3s;
        }

        .cross:after {
            transform: rotate(90deg);
            margin-top: -2px;
        }

    /*.content {
        box-sizing: border-box;
        font-size: 0.9em;
        margin: 0px 5px 10px 20px;
        max-height: 0;
        overflow: hidden;
        transition: max-height, .5s;

    }*/

    input:checked ~ .content {
        max-height: 400px;
        transition: max-height, 1s;
    }

    input:checked ~ .item .cross:before {
        transform: rotate(180deg);
    }

    input:checked ~ .item .cross:after {
        transform: rotate(0deg);
    }

    /* This shows the different pages within the page you are viewing
    *E.G. dashboard page has multiple reports wrapped in (nav-items) */
    input:checked ~ .nav-items {
        max-height: 400px;
        transition: 1s;
        margin: 0px;
    }

    .nav-items {
        margin: 0px;
        max-height: 0;
        overflow: hidden;
        transition: max-height, .5s;
    }
    /**Indent Dropdown Items*/
    .nav-item-wrap {
        margin: 0px;
    }

    /***/
    .nav-items .item {
        border: none;
        box-shadow: none;
        height: auto;
        margin: 0px;
    }



    nav{
        display: flex;
        flex-direction: column;

        height: 80%;
        justify-content: flex-start;
        color:white;

        overflow:hidden;
        overflow-y: scroll;
        margin-top: 1rem;
    }

    .home{
        justify-self: flex-start;
    }

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2px;
        height: 4vh;       
    }

    .tab {
        margin: 10px;
    }
    .department-item {
        width: inherit;
        height: 30px;
        margin: 0px;

        
    }

    .department-heading {
        height: 50px;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    }
    .department-container {
        width: inherit;
        height: auto;
        margin: 0px;
    }
    .department-name{
        font-size: 13px;
        font-weight: 200;
        background-color: white;
        padding-top: 10px;
        height: 30px;
        color: black;
        padding-left: 30px;
        cursor: pointer;
    }
    .department-name:hover {
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    }
    .department-major-name {
        font-size: 15px;
        width: 100%;
        text-align: center;
        font-weight: 200;
        cursor: pointer;
        margin-top:15px;
        
    }
    .department-heading:hover {
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    }
    
  /******New Nav styling Start*/
</style>

<div class="wrapper">
    <!--NavBar start-->
    <div id="testNav" class="dashboard-nav">
        <a href="javascript:void(0)" class="closebtn" style="font-size: 4vh;" @onclick="CloseMenu">&times;</a>
        <header>
            <a href="/jobpostforcandidate" class="dashboard-nav-item home">
                <i class="fas fa-home"></i><span class="tab"></span><span>Home</span>
            </a>

            @if (string.IsNullOrEmpty(State.UserEmail))
            {
                <a href="/"><i class="fas fa-user-slash"></i><span>Not logged</span> </a>
            }
            else
            {
                <a href="/profile_"><i class="fas fa-user" style="color:aquamarine;"></i>&nbsp;<span style="font-size:10px;">  @State.UserEmail</span> </a>
            }
        </header>

        <nav class="dashboard-nav-list">

            <div class="page">
                <input class="in" type="radio" id="job-board" name="tabs">
                <label class="item" for="job-board">
                    <a><i class="fas fa-briefcase"></i><span class="tab"></span> Job Board </a>
                    <div class="cross"></div>
                </label>
                <div class="content"><a href="/jobboard">View Jobs</a></div>
                <div class="content"><a href="/jobposting">View Posted Jobs</a></div>
                <div class="content"><a href="/addpostsub">Post a Job</a></div>
            </div>


            <div class="page">
                <input class="in" type="radio" id="analytical-dashboard" name="tabs">
                <label class="item" for="analytical-dashboard">
                    <a><i class="fas fa-chart-bar"></i><span class="tab"></span>  Analytical Dashboard</a>
                    <div class="cross"></div>
                </label>
                <div class="nav-items">
                    <div class="nav-item-wrap">
                        <div class="department-heading">
                            <h2 class="department-major-name" @onclick="@depController">Departmental Data</h2>
                        </div>                        
                        <div hidden="@depMinus" class="department-container">
                            <div class="department-item" @onclick="@d1Action">
                                <h3 class="department-name">Overview</h3>
                            </div>
                            <div class="department-item" @onclick="@d2Action">
                                <h3 class="department-name">Administration</h3>
                            </div>
                            <div class="department-item" @onclick="@d3Action">
                                <h3 class="department-name">Engineering</h3>
                            </div>
                            <div class="department-item" @onclick="@d4Action">
                                <h3 class="department-name">Finance</h3>
                            </div>
                            <div class="department-item" @onclick="@d5Action">
                                <h3 class="department-name">IT</h3>
                            </div>
                            <div class="department-item" @onclick="@d6Action">
                                <h3 class="department-name">Marketing</h3>
                            </div>
                            <div class="department-item" @onclick="@d7Action">
                                <h3 class="department-name">Research</h3>
                            </div>
                            <div class="department-item" @onclick="@d8Action">
                                <h3 class="department-name">Sales</h3>
                            </div>
                            
                        </div>
                    </div>
                        
                    <div class="nav-item-wrap">
                        <div class="department-heading" @onclick="us2Action">
                            <h2 class="department-major-name">Registration Data</h2>
                        </div>
                    </div>

                    <div class="nav-item-wrap">
                        <div class="department-heading" @onclick="us3Action">
                            <h2 class="department-major-name">Site Traffic</h2>
                        </div>
                    </div>

                    <div class="nav-item-wrap">
                        <div class="department-heading" @onclick="us4Action">
                            <h2 class="department-major-name">Time To Fill</h2>
                        </div>
                    </div>

                    <div class="nav-item-wrap">
                        <div class="department-heading" @onclick="us5Action">
                            <h2 class="department-major-name">Time To Hire</h2>
                        </div>
                    </div>

                </div>
            </div>
           

            <div class="nav-item-divider"></div>

        </nav>

        <footer>
            <a href="#" class="dashboard-nav-item" style="position: relative; bottom: 0;"><i class="fas fa-sign-out-alt"></i> Logout </a>
        </footer>

    </div>
    <!--NavBar end-->
    <div class="nav">

        <div class="nav-title">
            <h5 style="color:#fff;">Xebec Platform</h5>
        </div>

        <div class="nav-icons">

            <span style="font-size:30px;cursor:pointer; color:#fff" @onclick="ShowMenu">&#9776;</span>
        </div>
    </div>

    <div class="main-body">

        <div class="dash-container">

            <div class="header">
                <h5>Xebec Analytics Dashboard</h5>
                <p>@topic</p>
            </div>

            <div class="main">

                <div class="report">
                    <div hidden="@d1" class="report-container">
                        <iframe src="https://app.powerbi.com/reportEmbed?reportId=a25170fc-316e-4619-b18e-b5433bd70ef8&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                    <div hidden="@d2" class="report-container">
                        <iframe src="https://app.powerbi.com/reportEmbed?reportId=db468e90-eb11-4c2d-8782-851997e8c5ed&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                    <div hidden="@d3" class="report-container">
                        <iframe src="https://app.powerbi.com/reportEmbed?reportId=0a8a6315-b294-47cd-b433-7ababf71cfb8&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                    <div hidden="@d4" class="report-container">
                        <iframe src="https://app.powerbi.com/reportEmbed?reportId=f1e4e548-6be7-4fb3-8777-17ab55dd2fff&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                    <div hidden="@d5" class="report-container">
                        <iframe src="https://app.powerbi.com/reportEmbed?reportId=76327f9d-62a6-4c5e-80eb-5faef46d4593&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                    <div hidden="@d6" class="report-container">
                        <iframe src="https://app.powerbi.com/reportEmbed?reportId=02579638-b666-44ad-b536-46e48cff49a8&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>"
                    </div>
                    <div hidden="@d7" class="report-container">
                        <iframe src="https://app.powerbi.com/reportEmbed?reportId=1b374822-d52f-47ae-b8ec-9f31ea25e71c&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                    <div hidden="@d8" class="report-container">
                        <iframe src="https://app.powerbi.com/reportEmbed?reportId=37a172d0-e363-4067-b1c4-c629bfdc6a5b&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>"
                    </div>

                    <div hidden="@us2" class="report-container">
                        <iframe src="https://app.powerbi.com/reportEmbed?reportId=4f4559ec-f3c1-4bc7-860d-b4d47ac134a7&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                    <div hidden="@us3" class="report-container">
                        <iframe src="https://app.powerbi.com/reportEmbed?reportId=79d75a8a-b476-4e93-8354-12ebf8d76d8b&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                    <div hidden="@us4" class="report-container">
                        <iframe src="https://app.powerbi.com/reportEmbed?reportId=df92bb9b-beaf-44ac-8808-f8802b436252&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                    <div hidden="@us5" class="report-container">
                        <iframe src="https://app.powerbi.com/reportEmbed?reportId=cd4808b0-193d-4eb3-a3ff-55b057769cd7&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>"
                    </div>
                </div>
                <div class="enlarge-iframe-div">
                    <i class="fas fa-expand-arrows-alt" style="color: ivory; font-size:20px;" @onclick="Enlarge"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-container">

        <span>Nebula 2021 &reg;</span>
    </div>
</div>

<div class="big" hidden="@bigHidden">
    <div class="big-main">
        <div class="report-container" hidden="@bigd1">
            <iframe src="https://app.powerbi.com/reportEmbed?reportId=a25170fc-316e-4619-b18e-b5433bd70ef8&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div hidden="@bigd2" class="report-container">
            <iframe src="https://app.powerbi.com/reportEmbed?reportId=db468e90-eb11-4c2d-8782-851997e8c5ed&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div hidden="@bigd3" class="report-container">
            <iframe src="https://app.powerbi.com/reportEmbed?reportId=0a8a6315-b294-47cd-b433-7ababf71cfb8&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div hidden="@bigd4" class="report-container">
            <iframe src="https://app.powerbi.com/reportEmbed?reportId=f1e4e548-6be7-4fb3-8777-17ab55dd2fff&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div hidden="@bigd5" class="report-container">
            <iframe src="https://app.powerbi.com/reportEmbed?reportId=76327f9d-62a6-4c5e-80eb-5faef46d4593&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div hidden="@bigd6" class="report-container">
            <iframe src="https://app.powerbi.com/reportEmbed?reportId=02579638-b666-44ad-b536-46e48cff49a8&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>"
        </div>
        <div hidden="@bigd7" class="report-container">
            <iframe src="https://app.powerbi.com/reportEmbed?reportId=1b374822-d52f-47ae-b8ec-9f31ea25e71c&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div hidden="@bigd8" class="report-container">
            <iframe src="https://app.powerbi.com/reportEmbed?reportId=37a172d0-e363-4067-b1c4-c629bfdc6a5b&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>"
        </div>
        <div class="report-container" hidden="@bigus2">
            <iframe src="https://app.powerbi.com/reportEmbed?reportId=4f4559ec-f3c1-4bc7-860d-b4d47ac134a7&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div class="report-container" hidden="@bigus3">
            <iframe src="https://app.powerbi.com/reportEmbed?reportId=79d75a8a-b476-4e93-8354-12ebf8d76d8b&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div class="report-container" hidden="@bigus4">
            <iframe src="https://app.powerbi.com/reportEmbed?reportId=df92bb9b-beaf-44ac-8808-f8802b436252&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div class="report-container" hidden="@bigus5">
            <iframe src="https://app.powerbi.com/reportEmbed?reportId=cd4808b0-193d-4eb3-a3ff-55b057769cd7&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>"
        </div>
    </div>
    <div class="compress-iframe-div">
        <i class="fas fa-compress-arrows-alt" style="color: ivory; font-size:20px;" @onclick="Shrink"></i>
    </div>
</div>

@code {

    string topic = "Analytics Department";

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override async void OnAfterRender(bool firstRender)
    {

        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("initalizeSlideOutNav");
        }

    }

    private async Task ShowMenu()
    {
        await jsRuntime.InvokeVoidAsync("openNav");
    }

    private async Task CloseMenu()
    {
        await jsRuntime.InvokeVoidAsync("closeNav");
    }

    private bool depPlus { get; set; } = false;
    private bool depMinus { get; set; } = true;

    private bool d1 { get; set; } = false;
    private bool d2 { get; set; } = true;
    private bool d3 { get; set; } = true;
    private bool d4 { get; set; } = true;
    private bool d5 { get; set; } = true;
    private bool d6 { get; set; } = true;
    private bool d7 { get; set; } = true;
    private bool d8 { get; set; } = true;

    private bool us2 { get; set; } = true;
    private bool us3 { get; set; } = true;
    private bool us4 { get; set; } = true;
    private bool us5 { get; set; } = true;

    private void depController()
    {
        topic = "Analytics Department";
        depMinus = !depMinus;
    }

    private void d1Action()
    {
        d1 = !d1;
        d2=d3=d4=d5=d6=d7=d8=true;
        us2 = us3 = us4 = true;
    }

    private void d2Action()
    {
        d2 = !d2;
        d1 = d3 = d4 = d5 = d6 = d7 = d8 = true;
        us2 = us3 = us4 = true;

    }
    private void d3Action()
    {
        d3 = !d3;
        d2 = d1 = d4 = d5 = d6 = d7 = d8 = true;
        us2 = us3 = us4 = us5 = true;
    }
    private void d4Action()
    {
        d4 = !d4;
        d2 = d1 = d3 = d5 = d6 = d7 = d8 = true;
        us2 = us3 = us4 = us5 = true;
    }
    private void d5Action()
    {
        d5 = !d5;
        d2 = d1 = d4 = d3 = d6 = d7 = d8 = true;
        us2 = us3 = us4 = us5 = true;
    }
    private void d6Action()
    {
        d6 = !d6;
        d2 = d1 = d4 = d5 = d3 = d7 = d8 = true;
        us2 = us3 = us4 = us5 = true;
    }
    private void d7Action()
    {
        d7 = !d7;
        d2 = d1 = d4 = d5 = d6 = d3 = d8 = true;
        us2 = us3 = us4 = us5 = true;
    }
    private void d8Action()
    {
        d8 = !d8;
        d2 = d1 = d4 = d5 = d6 = d7 = d3 = true;
        us2 = us3 = us4 = us5 = true;
    }


    private void us2Action()
    {
        topic = "Registration Data";
        us2 = !us2;
        d2 = d1 = d4 = d5 = d6 = d7 = d3 = d8 = true;
        us3 = us4 = us5 = true;
    }

    private void us3Action()
    {
        topic = "Site Traffic";
        us3 = !us3;
        d2 = d1 = d4 = d5 = d6 = d7 = d3 = d8 = true;
        us2 = us4 = us5 = true;
    }

    private void us4Action()
    {
        topic = "Time to Fill";
        us4 = !us4;
        d2 = d1 = d4 = d5 = d6 = d7 = d3 = d8 = true;
        us3 = us2 = us5 = true;
    }

    private void us5Action()
    {
        topic = "Time to Hire";
        us2 = !us2;
        d2 = d1 = d4 = d5 = d6 = d7 = d3 = d8 = true;
        us3 = us4 = us2 = true;
    }

    private bool bigHidden { get; set; } = true;
    private bool bigd1 { get; set; } = true;
    private bool bigd2 { get; set; } = true;
    private bool bigd3 { get; set; } = true;
    private bool bigd4 { get; set; } = true;
    private bool bigd5 { get; set; } = true;
    private bool bigd6 { get; set; } = true;
    private bool bigd7 { get; set; } = true;
    private bool bigd8 { get; set; } = true;
    private bool bigus2 { get; set; } = true;
    private bool bigus3 { get; set; } = true;
    private bool bigus4 { get; set; } = true;
    private bool bigus5 { get; set; } = true;

    private void Enlarge()
    {
        bigHidden = false;

        if (d1 == false)
        {
            bigd1 = false;
        }
        else if (d2 == false)
        {
            bigd2 = false;
        }
        else if (d3 == false)
        {
            bigd3 = false;
        }
        else if (d4 == false)
        {
            bigd4 = false;
        }
        else if (d5 == false)
        {
            bigd5 = false;
        }
        else if (d6 == false)
        {
            bigd6 = false;
        }
        else if (d7 == false)
        {
            bigd7 = false;
        }
        else if (d8 == false)
        {
            bigd8 = false;

        }
        else if (us2 == false)
        {
            bigus2 = false;
        }
        else if (us3 == false)
        {
            bigus3 = false;

        }
        else if (us4 == false)
        {
            bigus4 = false;
        }
        else if (us5 == false)
        {
            bigus5 = false;
        }
    }

    private void Shrink()
    {
        bigHidden = true;

        if (d1 == false)
        {
            bigd1 = true;
        }
        else if (d2 == false)
        {
            bigd2 = true;
        }
        else if (d3 == false)
        {
            bigd3 = true;
        }
        else if (d4 == false)
        {
            bigd4 = true;
        }
        else if (d5 == false)
        {
            bigd5 = true;
        }
        else if (d6 == false)
        {
            bigd6 = true;
        }
        else if (d7 == false)
        {
            bigd7 = true;
        }
        else if (d8 == false)
        {
            bigd8 = true;

        }
        else if (us2 == false)
        {
            bigus2 = true;
        }
        else if (us3 == false)
        {
            bigus3 = true;

        }
        else if (us4 == false)
        {
            bigus4 = true;
        }
        else if (us5 == false)
        {
            bigus5 = true;
        }
    }

}