@page "/main"

@using Microsoft.Extensions.Logging
@inject ILogger<Main> Logger
@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<style>
    .dash-container {
        background-color: white;
        height: 100vh;
        width: 100%;
    }

    .header {
        height: 5vh;
        width: 100%;
        background-color: lightgrey;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .left-header {
        width: 68%;
        margin-left: 2%;
        text-align: left;
        color: black;
    }

    .right-header {
        width: 28%;
        margin-right: 2%;
        text-align: right;
        color: black;
    }

    .main {
        width: 100%;
        height: 95vh;
    }

    .report {
        width: 96%;
        height: 100%;
        margin-right: 2%;
        margin-left: 2%;
    }
    .dash-nav{
        position: absolute;
        z-index: 1;
        background-color: black;
        height: 95vh;
        width: 10%;
        margin-left: 90%;
    }
    .dash-nav-main{
        height: 100%;
        width: 100%;
        text-align: center;
    }
    li{
        color: lightgrey;
        padding-top: 30px;
        padding-bottom: 5px;
        height: 80px;
        border: solid 1px darkgrey;
        justify-content: center;
        justify-items: center;
        align-content:center;
        align-items: center;
        font-size: 12px;
        cursor: pointer;
    }
    .report-heading {
        width: 100%;
        height: 5%;
        text-align: left;
        color: black;
    }

    .report-container {
        width: 100%;
        height: 95%;
        background-color: white;
    }

</style>


<div class="dash-container">
    <div class="header">
        <div class="left-header">
            <h1 style="font-size: 15px;">Xebec Analytics Dashboard</h1>
        </div>
        <div class="right-header">
            <i @onclick="@NavAction" class="fas fa-bars" style="font-size: 20px; cursor:pointer;"></i>
        </div>
    </div>
    <div hidden="@NavShow" class="dash-nav">
        <div class="dash-nav-main">
            <ul style="list-style-type:none; padding-left:0;">
                <li @onclick="@us1Action">Department Analysis</li>
                <li @onclick="@us2Action">Rate of Registration</li>
                <li @onclick="@us3Action">Site Traffic</li>
                <li @onclick="@us4Action">Time to Fill</li>
                <li @onclick="@us5Action">Time to Hire</li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div hidden="@us1" class="report">
            <div class="report-heading">
                <h2 style="font-size: 15px; margin-top: 2.5px; font-weight: bold; writing-mode: horizontal-tb; ">Department Analytics</h2>
            </div>
            <div class="report-container">
                <iframe style="width: 100%; height: 100%;" src="https://app.powerbi.com/reportEmbed?reportId=a25170fc-316e-4619-b18e-b5433bd70ef8&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </div>
        <div hidden="@us2" class="report">
            <div class="report-heading">
                <h2 style="font-size: 15px; margin-top: 2.5px; font-weight: bold; writing-mode: horizontal-tb; ">Rate of Registration</h2>
            </div>
            <div class="report-container">
                <iframe style="width: 100%; height: 100%;" src="https://app.powerbi.com/reportEmbed?reportId=c4c17db7-63b9-4fcb-adb1-de650005a7b8&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </div>
        <div hidden="@us3" class="report">
            <div class="report-heading">
                <h2 style="font-size: 15px; margin-top: 2.5px; font-weight: bold; writing-mode: horizontal-tb; ">Site Traffic</h2>
            </div>
            <div class="report-container">
                <iframe style="width: 100%; height: 100%;" src="https://app.powerbi.com/reportEmbed?reportId=79d75a8a-b476-4e93-8354-12ebf8d76d8b&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </div>
        <div hidden="@us4" class="report">
            <div class="report-heading">
                <h2 style="font-size: 15px; margin-top: 2.5px; font-weight: bold; writing-mode: horizontal-tb; ">Time to Fill</h2>
            </div>
            <div class="report-container">
                <iframe style="width: 100%; height: 100%;" src="https://app.powerbi.com/reportEmbed?reportId=df92bb9b-beaf-44ac-8808-f8802b436252&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </div>
        <div hidden="@us5" class="report">
            <div class="report-heading">
                <h2 style="font-size: 15px; margin-top: 2.5px; font-weight: bold; writing-mode: horizontal-tb; ">Time to Hire</h2>
            </div>
            <div class="report-container">
                <iframe style="width: 100%; height: 100%;" src="https://app.powerbi.com/reportEmbed?reportId=cd4808b0-193d-4eb3-a3ff-55b057769cd7&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>"
            </div>
        </div>


    </div>

</div>
@code {

    private bool NavShow { get; set; } = true;
    private bool us1 { get; set; } = true;
    private bool us2 { get; set; } = true;
    private bool us3 { get; set; } = true;
    private bool us4 { get; set; } = true;
    private bool us5 { get; set; } = true;

    private void NavAction()
    {
        NavShow = !NavShow;
    }

    private void us1Action()
    {
        us2 = true;
        us3 = true;
        us4 = true;
        us5 = true;
        us1 = !us1;
    }

    private void us2Action()
    {
        us1 = true;
        us3 = true;
        us4 = true;
        us5 = true;
        us2 = !us2;
    }

    private void us3Action()
    {
        us1 = true;
        us2 = true;
        us4 = true;
        us5 = true;
        us3 = !us3;
    }

    private void us4Action()
    {
        us1 = true;
        us3 = true;
        us2 = true;
        us5 = true;
        us4 = !us4;
    }

    private void us5Action()
    {
        us1 = true;
        us3 = true;
        us4 = true;
        us2 = true;
        us5 = !us5;
    }
}
