@page "/main"

@using Microsoft.Extensions.Logging
@inject ILogger<Main> Logger
@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<style>

    * {
        font-family: 'Manrope', sans-serif;
        font-weight: bold;
        white-space: nowrap;
    }

    .dash-container {
        background-color: white;
        height: 100vh;
        width: 100%;
    }

    .header {
        height: 10vh;
        width: 100%;
        background-color: #a9a5a4;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .left-header {
        height: 100%;
        width: 68%;
        margin-left: 2%;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
        /* Text Styling*/
        font-family: 'Courier New', monospace;
        font-size: 8vw;
        color: #160b06;
        text-shadow: 1px 0 #888888;
        letter-spacing: 1px;
        font-weight: bold;
    }

    .right-header {
        width: 32%;
        height: 100%;
        margin-right: 2%;
        text-align: right;
        color: black;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        /*Hurmbrger Styling*/
        text-shadow: 1px 0 #888888;
        font-size: 3vw;
        cursor: pointer;
    }

    .main {
        width: 100%;
        height: 90vh;
        padding: 2%;
        display: flex;
        justify-content: center;
        background-color: #51484f;
    }

    .report {
        width: 100%;
        height: 100%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .dash-nav {
        position: absolute;
        z-index: 1;
        right: 0;
        background-color: #3c363e;
        height: 90vh;
        width: 30vw;
        margin-left: 90%;
    }

    .dash-nav-main {
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .report-heading {
        width: 100%;
        text-align: center;
        color: #e8eae7;
        font-size: 15px;
        font-weight: 700;
        text-shadow: 1px 0 #888888;
    }

    .report-container {
        width: 100%;
        height: 90%;
    }

    iframe {
        border-radius: 15px;
        height: 100%;
        width: 100%;
    }





    /*SideBar*/
    .sidenav {
        height: 100%;
        width: @nevWidth;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.2s;
        padding-top: 60px;
    }

        .sidenav li {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

            .sidenav li:hover {
                color: #f1f1f1;
            }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            left: 25px;
            font-size: 36px;
        }
</style>


<div class="dash-container">
    <div id="mySidenav" class="sidenav">
        <ul>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <li @onclick="@us1Action">Department Analysis</li>
            <li @onclick="@us2Action">Rate of Registration</li>
            <li @onclick="@us3Action">Site Traffic</li>
            <li @onclick="@us4Action">Time to Fill</li>
            <li @onclick="@us5Action">Time to Hire</li>
        </ul>
    </div>


    <div class="header">
        <div class="left-header">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
            <h1>Xebec Analytics Dashboard</h1>
        </div>
        <div class="right-header">
            <i @onclick="@NavAction" class="fas fa-bars"></i>
        </div>
    </div>
    <div hidden="@NavShow" class="dash-nav">
        <div class="dash-nav-main">
            <ul style="list-style-type:none; padding-left:0;">
                <li>&times;close</li>
                <li @onclick="@us1Action">Department Analysis</li>
                <li @onclick="@us2Action">Rate of Registration</li>
                <li @onclick="@us3Action">Site Traffic</li>
                <li @onclick="@us4Action">Time to Fill</li>
                <li @onclick="@us5Action">Time to Hire</li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>

    <div class="main">
        <div hidden="@us1" class="report">
            <div class="report-heading">
                <h2>Department Analytics</h2>
            </div>
            <div class="report-container">
                <iframe src="https://app.powerbi.com/reportEmbed?reportId=a25170fc-316e-4619-b18e-b5433bd70ef8&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </div>
        <div hidden="@us2" class="report">
            <div class="report-heading">
                <h2 s>Rate of Registration</h2>
            </div>
            <div class="report-container">
                <iframe src="https://app.powerbi.com/reportEmbed?reportId=c4c17db7-63b9-4fcb-adb1-de650005a7b8&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </div>
        <div hidden="@us3" class="report">
            <div class="report-heading">
                <h2 s>Site Traffic</h2>
            </div>
            <div class="report-container">
                <iframe src="https://app.powerbi.com/reportEmbed?reportId=79d75a8a-b476-4e93-8354-12ebf8d76d8b&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </div>
        <div hidden="@us4" class="report">
            <div class="report-heading">
                <h2 s>Time to Fill</h2>
            </div>
            <div class="report-container">
                <iframe src="https://app.powerbi.com/reportEmbed?reportId=df92bb9b-beaf-44ac-8808-f8802b436252&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </div>
        <div hidden="@us5" class="report">
            <div class="report-heading">
                <h2 s>Time to Hire</h2>
            </div>
            <div class="report-container">
                <iframe src="https://app.powerbi.com/reportEmbed?reportId=cd4808b0-193d-4eb3-a3ff-55b057769cd7&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>"
            </div>
        </div>


    </div>

</div>



@functions{
    private string nevWidth = "0";

    private void OpenNev()
    {
        nevWidth = "fit-content";
    }

    private void CloseNev()
    {
        nevWidth = "0";
    }
}

@code {


    protected override void OnInitialized()
    {
        base.OnInitialized();
        us1Action();
    }
    private bool NavShow { get; set; } = true;
    private bool us1 { get; set; } = true;
    private bool us2 { get; set; } = true;
    private bool us3 { get; set; } = true;
    private bool us4 { get; set; } = true;
    private bool us5 { get; set; } = true;

    private void NavAction()
    {
        NavShow = !NavShow;
    }

    private void us1Action()
    {
        us2 = true;
        us3 = true;
        us4 = true;
        us5 = true;
        us1 = !us1;
    }

    private void us2Action()
    {
        us1 = true;
        us3 = true;
        us4 = true;
        us5 = true;
        us2 = !us2;
    }

    private void us3Action()
    {
        us1 = true;
        us2 = true;
        us4 = true;
        us5 = true;
        us3 = !us3;
    }

    private void us4Action()
    {
        us1 = true;
        us3 = true;
        us2 = true;
        us5 = true;
        us4 = !us4;
    }

    private void us5Action()
    {
        us1 = true;
        us3 = true;
        us4 = true;
        us2 = true;
        us5 = !us5;
    }
}
