@inject NotifierService Notifier
@page "/table"
<style>
    .text {
        font-family: 'Noto Sans', sans-serif;
    }

    /*Table styling start*/

    /*Remove table default styling*/
    .table {
        background: transparent;
        padding: 0;
        border-radius: 0;
        border: none;
    }

        /*Table header styling start*/
        /*Table header spacing and color*/
        .table .table-heading {
            background-color: rgba(255,255,255,0.25);
            padding: 15px;
            margin: 0;
            border-radius: 20px;
        }

            /*Table Heading Text Styling*/
            .table .table-heading .title {
                color: #fff;
                font-size: 28px;
                font-weight: 700;
                text-transform: capitalize;
                line-height: 40px;
                margin: 0;
            }

            /*Table Header Button Styling start*/
            .table .table-heading .btn {
                color: rgba(255, 255, 255, 0.5);
                background: transparent;
                font-size: 16px;
                text-transform: capitalize;
                border: 2px solid #fff;
                border-radius: 50px;
                transition: all 0.3s ease 0s;
            }
                /*Some nice hover effects : color will be white and add some shadows*/
                .table .table-heading .btn:hover {
                    color: #fff;
                    text-shadow: 3px 3px rgba(255, 255, 255, 0.2);
                }

        /*Table Header Button Styling End*/

        /*Table Body styling start*/

        .table .table-body {
            padding: 15px;
        }
            /*Table body colouring*/
            .table .table-body .table {
                background: linear-gradient(transparent, rgba(255,255,255,0.2), transparent);
            }
                /*Table Heading Styling*/
                .table .table-body .table thead tr th {
                    color: #fff;
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                    padding: 12px;
                    border: none;
                }
                /*Table data/items styling*/
                .table .table-body .table tbody tr td {
                    color: #fff;
                    font-size: 15px;
                    padding: 10px 12px;
                    vertical-align: middle;
                    border: none;
                }

                /*Action List styling start*/
                /*Action List spacing*/
                .table .table-body .table tbody .action-list {
                    padding: 0;
                    margin: 0;
                    /*Hides bullet points*/
                    list-style: none;
                }

                    .table .table-body .table tbody .action-list li {
                        display: inline-block;
                        margin: 0 5px;
                    }

                        .table .table-body .table tbody .action-list li a {
                            color: #fff;
                            font-size: 15px;
                            position: relative;
                            z-index: 1;
                            transition: all 0.3s ease 0s;
                        }

                            /*Data tip styling*/
                            .table .table-body .table tbody .action-list li a:before,
                            .table .table-body .table tbody .action-list li a:after {
                                content: attr(data-tip);
                                color: #fff;
                                background-color: #111;
                                font-size: 12px;
                                padding: 5px 7px;
                                border-radius: 4px;
                                text-transform: capitalize;
                                display: none;
                                transform: translateX(-50%);
                                position: absolute;
                                left: 50%;
                                top: -32px;
                                transition: all 0.3s ease 0s;
                            }

                            .table .table-body .table tbody .action-list li a:after {
                                content: '';
                                height: 15px;
                                width: 15px;
                                padding: 0;
                                border-radius: 0;
                                transform: translateX(-50%) rotate(45deg);
                                top: -18px;
                                z-index: -1;
                            }

                            .table .table-body .table tbody .action-list li a:hover:before,
                            .table .table-body .table tbody .action-list li a:hover:after {
                                display: block;
                            }

        .table .table-footer {
            color: #fff;
            background-color: rgba(255,255,255,0.25);
            padding: 10px;
            border: none;
            border-radius: 20px;
        }

            .table .table-footer .col {
                line-height: 30px;
            }

    .pagination {
        margin: 0;
    }

        .pagination li a {
            color: rgba(255,255,255,0.4);
            background-color: transparent;
            border: 2px solid rgba(255,255,255,0.4);
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            line-height: 27px;
            width: 31px;
            height: 31px;
            padding: 0;
            margin: 0 3px;
            border-radius: 10px;
            transition: all 0.3s ease 0s;
        }

            .pagination li a:hover {
                color: #fff;
                background-color: transparent;
                border-color: #fff;
            }

            .pagination li a:focus,
            .pagination li.active a,
            .pagination li.active a:hover {
                color: #fff;
                background-color: transparent;
                border-color: #fff;
            }

        .pagination li:first-child a,
        .pagination li:last-child a {
            border-radius: 10px;
            width: auto;
            padding: 0 10px;
            background: green;
        }

    @@media only screen and (max-width:767px) {
        .table .table-heading .title {
            text-align: center;
            margin: 0 0 10px;
        }

        .table .table-heading .btn_group {
            text-align: center;
        }
    }

    .search {
        border-radius: 50%;
    }

    /*Loading*/

    .center {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wave {
        width: 5px;
        height: 100px;
        background: linear-gradient(45deg, black, #fff);
        margin: 10px;
        animation: wave 1s linear infinite;
        border-radius: 20px;
    }

        .wave:nth-child(2) {
            animation-delay: 0.1s;
        }

        .wave:nth-child(3) {
            animation-delay: 0.2s;
        }

        .wave:nth-child(4) {
            animation-delay: 0.3s;
        }

        .wave:nth-child(5) {
            animation-delay: 0.4s;
        }

        .wave:nth-child(6) {
            animation-delay: 0.5s;
        }

        .wave:nth-child(7) {
            animation-delay: 0.6s;
        }

        .wave:nth-child(8) {
            animation-delay: 0.7s;
        }

        .wave:nth-child(9) {
            animation-delay: 0.8s;
        }

        .wave:nth-child(10) {
            animation-delay: 0.9s;
        }

    @@keyframes wave {
        0% {
            transform: scale(0);
        }

        50% {
            transform: scale(1);
        }

        100% {
            transform: scale(0);
        }
    }

    /*/Loading*/

    tr :hover {
        cursor: pointer;
    }
</style>

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css /> -->
<div class="container">
    <div class="row">
        <div class=" col-12">
            <div class="table">
                <div class="table-heading">
                    <div class="row">
                        <div class="col col-sm-6 col-xs-12">
                            <h4 class="title">Candidate <span>List</span></h4>
                        </div>
                        <div class="col-sm-6 col-xs-12 text-right">
                            <div class="col-12">
                                <div class="d-flex justify-content-center input-group col-12">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text search" @onclick="SearchAsync">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control col-11" aria-label="Small" placeholder="Name, Surname, Status, Phase" style="background:inherit;color: white;" @bind="SearchTerm">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Image</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (AllLoaded && ShownCandidates != null)
                            {

                                @for (int i = 0; i < ShownCandidates.Count; i++)
                                {
                                    var candidate = ShownCandidates[i];
                                    string display = "none";
                                    <tr @onclick="() => ChangeProfileAsync(candidate)">

                                        <td>@(i + 1)</td>
                                        <td>
                                            <i class="fa fa-user" @onclick="@(() => display = "none")"></i><ChangeStatusForm Display="@display" />
                                        </td>
                                        <td>@candidate.CandidatesInfo.FirstName </td>
                                        <td>@candidate.CandidatesInfo.LastName</td>
                                        <td>@candidate.CandidatesInfo.Email</td>

                                        @*<td>
                                                <ul class="action-list">
                                                    <li>
                                                        <a href="#" data-tip="edit">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>*@
                                    </tr>
                                }

                            }
                            else
                            {
                                Console.WriteLine("Loading Associated helpers, Candidates, statuses, Application phases and Shown Candidates.");
                                <div class="center">
                                    <div class="wave"></div>
                                    <div class="wave"></div>
                                    <div class="wave"></div>
                                    <div class="wave"></div>
                                    <div class="wave"></div>
                                    <div class="wave"></div>
                                    <div class="wave"></div>
                                    <div class="wave"></div>
                                    <div class="wave"></div>
                                    <div class="wave"></div>
                                </div>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>